@page "/addproject"
@inherits ProjectsBase
<h3>AddProject</h3>

<div class="form-group">
    <label for="ProjectName">Project Name:</label>
    <input type="text" class="form-control" id="ProjectName" @bind="@NewProject.ProjectName" />
</div>
@* <div class="form-group">
    <label for="Status">Status:</label>
    <input type="text" class="form-control" id="Status" @bind="@NewProject.Status" />
</div> *@
<div class="form-group">
    <label for="Location">Location:</label>
    <input type="text" class="form-control" id="Location" @bind="@NewProject.Location" />
</div>
<div class="form-group">
    <label for="CustomerName">Customer Name:</label>
    <input type="text" class="form-control" id="CustomerName" @bind="@NewProject.CustomerName" />
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;" @onclick="@AddNewProject">Add Project</button>
</div>

@code {

}
