@page "/parts"
@inherits PartsBase
@inject NavigationManager _navMgr;

@if (Parts == null)
{
    <h3>Loading parts...</h3>
}
else
{
    <h3>Parts</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Max Count</th>
                <th>Update part</th>
                <th>Delete part</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Parts?.Data)
            {
                <tr>
                    <td>@part.partId</td>
                    <td>@part.partName</td>
                    <td>@part.price</td>
                    <td>@part.maxCount</td>
                    <td>
                        <button class="btn btn-primary" onclick="@(() => ToUpdatePart(part))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="@(() => DeletePart(part.partId))">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-success" @onclick="ToAddPart">Add Part</button>
}

@code {
    private void ToAddPart()
    {
        _navMgr.NavigateTo("/addpart");
    }

    private void ToUpdatePart(GetPartDto part)
    {
        _navMgr.NavigateTo($"/updatepart/{part.partId}");
    }
}
