@page "/projects"
@using RendszerRepo.Dtos.Project_properties;
@using RendszerRepo.Dtos.Project;
@inherits ProjectsBase
@inject NavigationManager _navMgr;

@if (Projects == null)
{
    <h3>Loading projects...</h3>
}
else
{
    <h3>Projects</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Location</th>
                <th>Customer</th>
                <th>Update Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Projects?.Data)
            {
                <tr>
                    <td>@project.projectId</td>
                    <td>@project.ProjectName</td>
                    <td>@project.Status</td>
                    <td>@project.Location</td>
                    <td>@project.CustomerName</td>
                    <td>
                        <button class="btn btn-primary" onclick="@(() => ToUpdateStatus(project))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-success" @onclick="ToAddProject">Add Project</button>
}

@code {
    private void ToAddProject()
    {
        _navMgr.NavigateTo("/addproject");
    }

    private void ToUpdateStatus(GetPrDto project)
    {
        _navMgr.NavigateTo($"/updatestatus/{project.projectId}");
    }
}
